.wif-filter__content {
  line-height: 2.875em;
}

.wif-filter__text {
  margin-right: 0.3125em;
  font-size: 2em;
  font-weight: 600;
  color: #624b46;
}

.wif-filter__select {
  margin-right: 0.3125em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: none;
  border-bottom: 2px solid #289479;
  font-size: 1.875em;
  font-weight: 600;
  text-align: center;
  color: #289479;
  cursor: pointer;
}

.wif-filter__select-option {
  font-size: 1em;
}

.wif-filter__submit {
  margin-bottom: 0.5em;
  padding: 0.35em 1em;
  -moz-border-radios: 4px;
  -webkit-border-radio: 4px;
  border-radius: 4px;
  font-size: 1.35em;
  background-color: #289479;
  text-transform: uppercase;
  font-weight: 600;
  color: #fff;
}

.wif-filter__submit:hover {
  color: #fff;
  background-color: #289479;
}

.wif-filter__submit:disabled {
  opacity: 0.8 !important;
  background-color: #ebdfd5;
  cursor: not-allowed;
}

.wif-filter__reset {
  display: block;
  text-transform: uppercase;
  font-size: 1.125em;
  font-weight: 600;
  color: #289479;
  cursor: pointer;
}

.wif-filter__reset:hover {
  text-decoration: underline;
}
